.progress-bar--js, .progress-bar--html, .progress-bar--css {
  background: #FFB57F !important;
  position: absolute;
  left: 0;
  top: 1.5%;
  margin: 0;
  height: 5% !important;
}

.link--github::after, .link--telegram::after, .link--codewars::after {
  content: "";
  position: absolute;
  background-size: cover;
  left: -1.4em;
  top: 0.3em;
  width: 1em;
  height: 1em;
}

.cv-title__main, .cv-title__aside, .cv-title__link-container, .cv-main, .cv-article {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Poppins', sans-serif;
}

.cv-container {
  margin: 2rem auto .5rem auto;
  border: 5px solid #000;
  position: relative;
  padding: 1.5rem;
  width: 55vw;
  border-radius: 5%;
}

.background-img {
  position: absolute;
  top: -4%;
  left: 0;
  z-index: -1;
}

.cv-title {
  display: flex;
}

.cv-title__main {
  margin-right: .5em;
  flex: 2 1 auto;
}

.cv-title__name {
  font-size: 58pt;
  margin: 0;
}

.cv-title__career {
  font-size: 32pt;
  margin: 0;
}

.cv-title__aside {
  align-items: center;
  justify-content: center;
  width: 40%;
}

.cv-title__link-container {
  margin-top: 0.8em;
}

.cv-title__profile-img {
  border-radius: 50%;
  width: 12em;
  height: 12em;
}

.link {
  text-decoration: none;
  display: block;
  color: #000;
  margin-left: 1em;
  position: relative;
  width: inherit;
}

.link:hover {
  color: #FF1F00;
}

.link--footer {
  margin: 0;
  display: inline;
}

.link--github::after {
  background-image: url(../img/github-dark-logo.png);
}

.link--telegram::after {
  background-image: url(../img/telegram-logo.png);
}

.link--codewars::after {
  background-image: url(../img/codewars-logo.svg);
}

.cv-main {
  margin-left: 4%;
  position: relative;
}

.cv-line {
  position: absolute;
  height: 100%;
  left: -3.3%;
  width: 4px;
  background: #000;
}

.cv-article__title {
  font-size: 26pt;
  margin-bottom: 0.3em;
  position: relative;
}

.cv-article__title::before {
  position: absolute;
  content: "";
  width: .5em;
  height: .5em;
  top: 35%;
  left: -4%;
  background-color: #FFB57F;
  border-radius: 50%;
}

.cv-article__section {
  display: block;
  margin: 0;
  font-size: 20pt;
}

.cv-article__skill {
  width: 6em;
  text-align: right;
}

.cv-article__section--skills-section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2%;
}

.cv-article__text {
  margin: auto 5% auto 0;
}

.cv-article__section--code-examples {
  display: flex;
}

.progress-bar {
  width: 100%;
  height: 9%;
  background: #000;
}

.progress-bar-container {
  position: relative;
  height: 100%;
}

.progress-bar--js {
  width: calc(100% / 3);
}

.progress-bar--html {
  width: calc(100% / 1.7);
}

.progress-bar--css {
  width: calc(100% / 1.5);
}

.footer {
  margin: auto;
  position: relative;
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

.footer__info {
  width: 26%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer__info-text {
  width: 100%;
  text-align: end;
}

.footer__rs-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__rs-logo {
  background-size: cover;
  margin-left: 0;
}

.footer__rs-link {
  width: 70%;
  height: 70%;
}

@media (max-width: 1200px) {
  .cv-title {
    position: relative;
  }
  .cv-title__career {
    width: 50%;
  }
  .cv-title__aside {
    position: absolute;
    right: 0;
    top: 30%;
  }
  .background-img {
    position: absolute;
    top: -4%;
    left: 20%;
    z-index: -1;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .cv-title__link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
